@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bio-blue: var(--bio-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #050505;
  --foreground: #ededed;
  --bio-blue: #3bf6ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono); /* Default to mono for terminal feel */
}
